/ble_app_hids_keyboard.eww
/hex
/config/ble_app_hids_keyboard_s110_spi_pca10028
/config/ble_app_hids_keyboard_s130_pca10028
/config/ble_app_hids_keyboard_s130_spi_pca10028
_build
/pca10028/s110/arm4
/pca10028/s110/iar
/pca10028/s130
/pca10028/ser_s110_spi
/pca10028/ser_s130_spi
*.o
*.out
*.hex
*.bin
*.map
/pca10028/s110/arm5_no_packs/EventRecorderStub.scvd
/pca10028/s110/arm5_no_packs/JLinkLog.txt
/pca10028/s110/arm5_no_packs/JLinkSettings.ini
/pca10028/s110/arm5_no_packs/nrf51422_xxac_s110.BAT
/bootloader/pca10028/dual_bank_ble_s110/arm5_no_packs/EventRecorderStub.scvd
/bootloader/pca10028/dual_bank_ble_s110/arm5_no_packs/JLinkLog.txt
/bootloader/pca10028/dual_bank_ble_s110/arm5_no_packs/JLinkSettings.ini
/bootloader/pca10028/dual_bank_ble_s110/arm5_no_packs/dfu_dual_bank_ble_s110_pca10028.uvguix.jiang
/keymap.h~RF4a8efe8.TMP
/pca10028/s110/arm5_no_packs/ble_app_hids_keyboard_s110_pca10028.uvguix
/pca10028/s110/arm5_no_packs/ble_app_hids_keyboard_s110_pca10028.uvguix.jiang
/pca10028/s110/arm5_no_packs/ble_app_hids_keyboard_s110_pca10028.uvoptx
