/ble_app_hids_keyboard.eww
/hex
_build
/release
*.o
*.out
*.hex
*.bin
*.map
/project/arm5_no_packs/nrf51422_xxac_s110.BAT
*.uvguix
*.uvguix.*
*.uvoptx
JLinkLog.txt
JLinkSettings.ini
EventRecorderStub.scvd
/.vscode
